<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>SignUp - Looking for Talent</title>
  </head>
  <body class="w-full min-h-screen content-center bg-slate-200 font-spartan">
    <div
      class="bg-white max-w-96 m-auto drop-shadow-2xl shadow-lg shadow-primary/65 rounded-3xl py-6 px-9 border-solid border-2 border-secondary/30 text-center"
    >
      <h1 class="font-extrabold text-secondary text-3xl">Sign Up</h1>
      <form action="" class="mt-5">
        <input
          required
          class="w-full border-none py-4 px-5 rounded-3xl mt-2 [border-inline:_2px_solid_transparent] focus:outline-none focus:[border-inline:_2px_solid_#12B1D1]"
          type="text"
          name="name"
          placeholder="Name"
        />
        <input
          required
          class="w-full border-none py-4 px-5 rounded-3xl mt-2 [border-inline:_2px_solid_transparent] focus:outline-none focus:[border-inline:_2px_solid_#12B1D1]"
          type="password"
          name="password"
          placeholder="Password"
        />
        <input
          required
          class="w-full border-none py-4 px-5 rounded-3xl mt-2 [border-inline:_2px_solid_transparent] focus:outline-none focus:[border-inline:_2px_solid_#12B1D1]"
          type="email"
          name="email"
          placeholder="E-mail"
        />
        <input
          class="block w-full font-bold text-white bg-gradient-to-l to-secondary from-primary p-3.5 rounded-3xl shadow-md shadow-sky-400/80 m-5 mx-auto hover:scale-105 hover:shadow-lg hover:shadow-black/20 active:scale-95 transition-all duration-200"
          type="submit"
          value="Sign Up"
        />
      </form>
      <span class="text-gray-500 text-sm mt-5 block"
        >Have you signed up? <a class="text-blue-800" href="log-in"
          >Log In</a
        ></span
      >
    </div>
  </body>
</html>
