<li class="relative pl-3">
  <div class="w-4 h-[3px] bg-gradient-to-l from-primary to-secondary rounded-full absolute left-0 top-2 rotate-45" />
  <div class="w-4 h-[3px] bg-gradient-to-l from-primary to-secondary rounded-full absolute left-0 bottom-3 -rotate-45" />
  <p class="uppercase m-1 text-slate-700 font-medium">Lorem imput</p>
</li>
