---
import { ViewTransitions } from 'astro:transitions';
import Navbar from '../components/Navbar.astro';

interface Props {
  title?: string;
  className?: string;
}

const { title, className } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <ViewTransitions />
    <link
      href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body
    class="flex flex-col gap-4 max-w-7xl px-4 min-h-screen mx-auto bg-slate-200 font-spartan"
  >
    <menu class="bg-white rounded-b-2xl">
      <Navbar />
    </menu>
    <main class={className}>
      <slot />
    </main>
  </body>
</html>
